package io.cucumber.bankAPI;

public class BankAPI {
    public static final String BASE_URL = "https://api.examplebank.com";

    public static final String AUTH_ENDPOINT = "/auth";
    public static final String TRANSACTIONS_ENDPOINT = "/transactions";

    public static String getAuthEndpoint() {
        return BASE_URL + AUTH_ENDPOINT;
    }

    public static String getTransactionsEndpoint() {
        return BASE_URL + TRANSACTIONS_ENDPOINT;
    }
}
